


.layout { 
	background-color: rgba(242, 212, 146);
	margin: auto;
	margin-top: 25px;
	width: 80vw;
	height: 80vh;
	transition: 400ms;
	border: 5px solid rgba(81,81,81,1);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px 2px rgba(91,91,91,1);
	font-size: 2em;
}


